@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
  font-family: 'Open Sans', Tahoma, Arial;
}
.myhead{
  height: auto;
  color: inherit;
  text-align: left;
}

#wrapper {
  padding-left: 250px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
#wrapper .content {
  padding: 5px 15px;
}
#wrapper.toggled {
  padding-left: 0;
}
#wrapper.toggled #sideBar {
  left: -300px;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#sideBar {
  width: 250px;
  position: fixed;
  opacity: .99;
  left: 0;
  background: #64676c;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.main-nav {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-bottom: 0;
}
.main-nav li {
  line-height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #585858;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.12);
}
/*.main-nav li.main-search {
  border: none;
  box-shadow: none;
}
.main-nav li.main-search .search-input.form-control {
  border-radius: 0;
  background: #444;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}
.main-nav li.main-search i {
  float: right;
  margin-top: -25px;
  margin-right: 15px;
  color: #999;
}
.main-nav li.nav-brand {
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  border: none;
  box-shadow: none;
}*/
.main-nav li a {
  color: #fff;
  display: block;
  font-weight: normal;
  text-decoration: none;
}

@media (max-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #wrapper.toggled #sideBar {
    left: 0;
    opacity: 1;
  }

  #sideBar {
    left: -300px;
  }
}

/*# sourceMappingURL=main.css.map */
